<section class="container">
    <article class="card">
        <h1 class="title">Dati Team</h1>
        <div class="field">
            <label for="teamName">Nome:</label>
            <input type="text" id="teamName" [disabled]="!teamModifyState" [(ngModel)]="selectedTeam.nome">
        </div>
        <div class="field">
            <label for="teamCity">Città:</label>
            <input type="text" id="teamCity" [disabled]="!teamModifyState" [(ngModel)]="selectedTeam.citta">
        </div>
        <div class="actions">
            <button class="btn primary" *ngIf="teamModifyState" (click)="editTeam()">Conferma</button>
            <button class="btn danger" (click)="deleteTeam()">Elimina Team</button>
            <button class="btn secondary" (click)="teamModifyState= true" [disabled]="teamModifyState">Modifica Team</button>
        </div>
    </article>
</section>
<section class="container">
    <h1 class="title">Team Analytics</h1>
    <table *ngIf="!analyticsIsVoid; else analyticsIsVoidMessage" class="table">
        <thead>
            <tr>
                <th>Percentuale tiri</th>
                <th>Tempo corsa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ teamAnalytics.percentuale_tiri }} %</td>
                <td>{{ teamAnalytics.tempo_corsa }} sec.</td>
            </tr>
        </tbody>
    </table>
    <ng-template #analyticsIsVoidMessage>
        <h2 class="message">Analytics non disponibile per questo Team</h2>
    </ng-template>
</section>
<section *ngIf="!teamIsVoid; else teamIsVoidMessage" class="container">
    <h1 class="title">Elenco Players ordinati decrescentemente per peformance</h1>
    <article *ngFor="let player of players" class="card">
        <div class="field">
            <label [for]="'nomePlayer_' + player.id_player">Nome:</label>
            <input type="text" [id]="'nomePlayer_' + player.id_player" [disabled]="!playerModifyState[player.id_player]" [(ngModel)]="player.nome">
        </div>
        <div class="field">
            <label [for]="'cognomePlayer_' + player.id_player">Cognome:</label>
            <input type="text" [id]="'cognomePlayer_' + player.id_player" [disabled]="!playerModifyState[player.id_player]" [(ngModel)]="player.cognome">
        </div>
        <div class="field">
            <label [for]="'dataNascitaPlayer_' + player.id_player">Data Nascita:</label>
            <input type="date" [id]="'dataNascitaPlayer_' + player.id_player" [disabled]="!playerModifyState[player.id_player]" [(ngModel)]="player.data_nascita">
        </div>
        <div class="field">
            <label [for]="'ruoloPlayer_' + player.id_player">Ruolo:</label>
            <select [id]="'ruoloPlayer_' + player.id_player" [(ngModel)]="player.ruolo" *ngIf="playerModifyState[player.id_player]; else playerRuolo">
                <option value="Playmaker">Playmaker</option>
                <option value="Guardia">Guardia</option>
                <option value="Ala grande">Ala grande</option>
                <option value="Ala piccola">Ala piccola</option>
                <option value="Centro">Centro</option>
            </select>
        </div>
        <ng-template #playerRuolo>
            <input type="text" [id]="'ruoloPlayer_' + player.id_player" disabled="true" [value]="player.ruolo">
        </ng-template>
        <div class="field">
            <label [for]="'pesoPlayer_' + player.id_player">Peso:</label>
            <input type="number" [id]="'pesoPlayer_' + player.id_player" [disabled]="!playerModifyState[player.id_player]" [(ngModel)]="player.peso">
        </div>
        <div class="field">
            <label [for]="'altezzaPlayer_' + player.id_player">Altezza:</label>
            <input type="number" step="0.1" [id]="'altezzaPlayer_' + player.id_player" [disabled]="!playerModifyState[player.id_player]" [(ngModel)]="player.altezza">
        </div>
        <div class="actions">
            <button class="btn primary" *ngIf="playerModifyState[player.id_player]" (click)="editPlayer(player)">Conferma</button>
            <button class="btn danger" (click)="deletePlayer(player.id_player)">Elimina Player</button>
            <button class="btn secondary" (click)="setModifyState(player.id_player)" [disabled]="playerModifyState[player.id_player]">Modifica Player</button>
            <a [routerLink]="['/players', player.id_player]">
                <button class="btn link">Dettaglio Player</button>
            </a>
        </div>
    </article>
</section>
<ng-template #teamIsVoidMessage>
    <section class="container">
        <h1 class="title">Elenco Players</h1>
        <h2 class="message">Nessun Player presente in questo Team</h2>
    </section>
</ng-template>
<button class="btn add" (click)="showForm= true" [disabled]="showForm">Aggiungi Player</button>
<form #form="ngForm" *ngIf="showForm" (ngSubmit)="createPlayer(newPlayer)">
    <div class="field">
        <label for="nomePlayer">Nome:</label>
        <input name="nomePlayer" type="text" id="nomePlayer" [(ngModel)]="newPlayer.nome" required>
    </div>
    <div class="field">
        <label for="cognomePlayer">Cognome:</label>
        <input name="cognomePlayer" type="text" id="cognomePlayer" [(ngModel)]="newPlayer.cognome" required>
    </div>
    <div class="field">
        <label for="dataNascitaPlayer">Data Nascita:</label>
        <input name="dataNascitaPlayer" type="date" id="dataNascitaPlayer" [(ngModel)]="newPlayer.data_nascita" required>
    </div>
    <div class="field">
        <label for="ruoloPlayer">Ruolo:</label>
        <select name="ruoloPlayer" id="ruoloPlayer" [(ngModel)]="newPlayer.ruolo" required>
            <option value="Playmaker">Playmaker</option>
            <option value="Guardia">Guardia</option>
            <option value="Ala grande">Ala grande</option>
            <option value="Ala piccola">Ala piccola</option>
            <option value="Centro">Centro</option>
        </select>
    </div>
    <div class="field">
        <label for="pesoPlayer">Peso:</label>
        <input name="pesoPlayer" type="number" id="pesoPlayer" [(ngModel)]="newPlayer.peso" required>
    </div>
    <div class="field">
        <label for="altezzaPlayer">Altezza:</label>
        <input name="altezzaPlayer" type="number" step="0.1" id="altezzaPlayer" [(ngModel)]="newPlayer.altezza" required>
    </div>
    <button class="btn primary" type="submit" [disabled]="form.invalid">Conferma</button>
</form>
<button class="btn cancel" (click)="showForm= false" *ngIf="showForm">Annulla</button>
<a routerLink="/teams">
    <button class="btn back">Torna ai Team</button>
</a>