<section class="container" *ngIf="!noTeams; else noTeamsMessage">
    <h1 class="title">Elenco Teams</h1>
    <article class="card" *ngFor="let team of teams">
        <div class="field">
            <label [for]="'teamName_' + team.id_team">Nome:</label>
            <input type="text" [id]="'teamName_' + team.id_team" [disabled]="!modifyState[team.id_team]" [(ngModel)]="team.nome">
        </div>
        <div class="field">
            <label [for]="'teamCity_' + team.id_team">Città:</label>
            <input type="text" [id]="'teamCity_' + team.id_team" [disabled]="!modifyState[team.id_team]" [(ngModel)]="team.citta">
        </div>
        <div class="actions">
            <button class="btn primary" *ngIf="modifyState[team.id_team]" (click)="editTeam(team)">Conferma</button>
            <button class="btn danger" (click)="deleteTeam(team.id_team)">Elimina Team</button>
            <button class="btn secondary" (click)="setModifyState(team.id_team)" [disabled]="modifyState[team.id_team]">Modifica Team</button>
            <a [routerLink]="['/teams', team.id_team]">
                <button class="btn link">Vai al Team</button>
            </a>
        </div>
    </article>
</section>
<ng-template #noTeamsMessage>
    <section class="container">
        <h1 class="title">Elenco Teams</h1>
        <h2 class="message">Nessun Team presente</h2>
    </section>
</ng-template>
<button class="btn add" (click)="showForm= true" [disabled]="showForm">Aggiungi Team</button>
<form #form="ngForm" *ngIf="showForm" (ngSubmit)="createTeam(newTeam)">
    <div class="field">
        <label for="teamName">Nome:</label>
        <input type="text" id="teamName" name="teamName" [(ngModel)]="newTeam.nome" required>
    </div>
    <div class="field">
        <label for="teamCity">Città:</label>
        <input type="text" id="teamCity" name="teamCity" [(ngModel)]="newTeam.citta" required>
    </div>
    <button class="btn primary" type="submit" [disabled]="form.invalid">Conferma</button>
</form>
<button class="btn cancel" (click)="showForm= false" *ngIf="showForm">Annulla</button>