<section class="container">
    <h1 class="title centered">Nuovo allenamento</h1>
    <article class="card">
        <h2 class="message">Player selezionato</h2>
        <div class="field">
            <span>Nome: {{ selectedPlayer.nome }}</span>
        </div>
        <div class="field">
            <span>Cognome: {{ selectedPlayer.cognome }}</span>
        </div>
    </article>
    <article>
        <h2 class="message centered">Dati allenamento</h2>
        <form #form="ngForm" (ngSubmit)="trainPlayer()">
            <div class="shooting-row">
                <div class="shoot-controls">
                    <div class="fieldWithButton">
                        <label for="canestriTentati">Canestri tentati:</label>
                        <input type="number" step="1" id="canestriTentati" min="0" name="canestriTentati" [(ngModel)]="canestriTentati" required>
                        <button class="btn secondary" type="button" (click)="addCanestroTentato()">Incrementa canestri tentati</button>
                    </div>
                    <div class="fieldWithButton">
                        <label for="canestriRiusciti">Canestri riusciti:</label>
                        <input type="number" step="1" id="canestriRiusciti" name="canestriRiusciti" min="0" [max]="canestriTentati" [(ngModel)]="canestriRiusciti" required>
                        <button class="btn secondary" type="button" (click)="addCanestroRiuscito()">Incrementa canestri riusciti</button>
                    </div>
                </div>
                <div class="stats-row">
                    <div class="percent-box">
                        <label>Percentuale canestri riusciti</label>
                        <div class="percent-value">{{ (canestriTentati <= 0 || canestriTentati < canestriRiusciti ? 0 : (canestriRiusciti / canestriTentati) * 100) | number:'1.2-2' }} %</div>
                    </div>
                    <div class="percent-box" *ngIf="!trainsIsVoid">
                        <label>Record percentuale tiri</label>
                        <div class="percent-value">{{ recordPercentualeTiriPlayer | number:'1.2-2' }} %</div>
                    </div>
                </div>
            </div>
            <div class="tempoCorsaField">
                <label class="tempo-label">Tempo corsa:</label>
                <fieldset>
                    <input type="number" step="1" id="tempoCorsaMinuti" name="tempoCorsaMinuti" min="0" [(ngModel)]="tempoCorsaMinuti" [disabled]="clockMode" required>
                    <span>:</span>
                    <input type="number" step="1" id="tempoCorsaSecondi" name="tempoCorsaSecondi" min="0" [(ngModel)]="tempoCorsaSecondi" [disabled]="clockMode" required>
                    <span>:</span>
                    <input type="number" step="1" id="tempoCorsaCentisecondi" min="0" name="tempoCorsaCentisecondi" [(ngModel)]="tempoCorsaCentisecondi" [disabled]="clockMode" required>
                    <button class="btn secondary" type="button" [disabled]="clockMode" (click)="start()">Start</button>
                    <button class="btn danger" type="button" [disabled]="!clockMode" (click)="stop()">Stop</button>
                    <button class="btn reset" type="button" *ngIf="!clockMode" (click)="reset()">Reset</button>
                </fieldset>
                <div class="tempo-stats">
                    <div class="percent-box">
                        <label>Totale secondi</label>
                        <div class="percent-value">{{ tempoCorsaMinuti < 0 || tempoCorsaSecondi < 0 || tempoCorsaCentisecondi < 0 ? 0 : tempoCorsaMinuti * 60 + tempoCorsaSecondi + tempoCorsaCentisecondi / 100 | number:'1.2-2' }} sec.</div>
                    </div>
                    <div class="percent-box" *ngIf="!trainsIsVoid">
                        <label>Record tempo corsa</label>
                        <div class="percent-value">{{ recordTempoCorsaPlayer | number:'1.2-2' }} sec.</div>
                    </div>
                </div>
            </div>
            <button class="btn primary" type="submit" [disabled]="form.invalid || (tempoCorsaMinuti == 0 && tempoCorsaSecondi == 0 && tempoCorsaCentisecondi == 0) || canestriTentati == 0">Conferma</button>
        </form>
        <a [routerLink]="['/players', selectedPlayerId]">
            <button class="btn cancel">Annulla e torna al Player</button>
        </a>
    </article>
</section>