<header class="clearfix">
    <div class="brand">
        <img src="/BasketLab-logo.png" alt="BasketLab logo" class="logo">
        <h1>BasketLab</h1>
    </div>
    <nav class="clearfix">
        <a routerLink="/teams">Elenco Teams</a>
        <a routerLink="/predict">Predici esito match</a>
        <a routerLink="/search">Ricerca Teams e Players</a>
        <a routerLink="/compare">Confronta due Players</a>
    </nav>
</header>

<main class="clearfix">
    <router-outlet></router-outlet>
</main>

<footer class="clearfix">
    <section id="privacy">
        Luca Faliva &copy; 2026
    </section>
</footer>