<section class="container">
    <article class="card">
        <h1 class="title">Dati Player</h1>
        <div class="field">
            <label for="playerName">Nome:</label>
            <input type="text" name="playerName" id="playerName" [disabled]="!modifyState" [(ngModel)]="selectedPlayer.nome">
        </div>
        <div class="field">
            <label for="playerCognome">Cognome:</label>
            <input type="text" name="playerCognome" id="playerCognome" [disabled]="!modifyState" [(ngModel)]="selectedPlayer.cognome">
        </div>
        <div class="field">
            <label for="dataNascitaPlayer">Data Nascita:</label>
            <input type="date" name="dataNascitaPlayer" id="dataNascitaPlayer" [disabled]="!modifyState" [(ngModel)]="selectedPlayer.data_nascita">
        </div>
        <div class="field">
            <label for="ruoloPlayer">Ruolo:</label>
            <select id="ruoloPlayer" [(ngModel)]="selectedPlayer.ruolo" name="ruoloPlayer" *ngIf="modifyState; else playerRuolo">
                <option value="Playmaker">Playmaker</option>
                <option value="Guardia">Guardia</option>
                <option value="Ala grande">Ala grande</option>
                <option value="Ala piccola">Ala piccola</option>
                <option value="Centro">Centro</option>
            </select>
        </div>
        <ng-template #playerRuolo>
            <input type="text" id="ruoloPlayer" name="ruoloPlayer" disabled="true" [value]="selectedPlayer.ruolo">
        </ng-template>
        <div class="field">
            <label for="pesoPlayer">Peso (kg):</label>
            <input type="number" id="pesoPlayer" name="pesoPlayer" [disabled]="!modifyState" min="30" max="300" [(ngModel)]="selectedPlayer.peso">
        </div>
        <div class="field">
            <label for="altezzaPlayer">Altezza (cm):</label>
            <input type="number" step="0.1" id="altezzaPlayer" name="altezzaPlayer" [disabled]="!modifyState" min="100" max="250" [(ngModel)]="selectedPlayer.altezza">
        </div>
        <div class="field">
            <label for="teamPlayer">Team:</label>
            <select id="teamPlayer" name="teamPlayer" [(ngModel)]="selectedPlayer.id_team" *ngIf="modifyState; else playerTeam">
                <option *ngFor="let team of teams" [ngValue]="team.id_team">{{ team.nome }}</option>
            </select>
        </div>
        <ng-template #playerTeam>
            <input type="text" name="teamPlayer" id="teamPlayer" disabled="true" [value]="teamName">
        </ng-template>
        <div class="actions">
            <button class="btn primary" *ngIf="modifyState" (click)="editPlayer()">Conferma</button>
            <button class="btn danger" (click)="deletePlayer()">Elimina Player</button>
            <button class="btn secondary" (click)="modifyState= true" [disabled]="modifyState">Modifica Player</button>
        </div>
    </article>
</section>
<section class="container">
    <h1 class="title">Dati di allenamento del Player</h1>
    <div class="field maxTrainsSelection" *ngIf="!trainIsVoid">
        <label for="range">Numero di allenamenti da visualizzare:</label>
        <div class="maxTrainsSelectionRow">
            <input type="range" id="range" name="range" [(ngModel)]="maxTrains" step="1" min="0" [max]="n_trains">
            <span>{{ maxTrains }} su {{ n_trains }}</span>
        </div>
    </div>
    <p class="message" *ngIf="!trainIsVoid">Allenamenti</p>
    <table *ngIf="!trainIsVoid; else trainIsVoidMessage" class="table">
        <thead>
            <tr>
                <th>Percentuale tiri</th>
                <th>Tempo corsa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let train of trains | slice:0:maxTrains">
                <td>{{ train.percentuale_tiri | number:'1.2-2' }} %</td>
                <td>{{ train.tempo_corsa | number:'1.2-2' }} sec.</td>
            </tr>
        </tbody>
    </table>
    <p class="message" *ngIf="!trainIsVoid">Analytics</p>
    <table *ngIf="!trainIsVoid" class="table">
        <thead>
            <tr>
                <th>Percentuale tiri</th>
                <th>Tempo corsa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ analyticsPercentualeTiri | number:'1.2-2' }} %</td>
                <td>{{ analyticsTempoCorsa | number:'1.2-2' }} sec.</td>
            </tr>
        </tbody>
    </table>
    <div class="alert" *ngIf="percentualeTiriAlert || tempoCorsaAlert">
        <p *ngIf="percentualeTiriAlert"><strong>Attenzione:</strong> la percentuale di tiri a segno di questo Player è sotto alla media del Team</p>
        <p *ngIf="tempoCorsaAlert"><strong>Attenzione:</strong> il tempo corsa di questo Player è sopra alla media del Team</p>
    </div>
    <ng-template #trainIsVoidMessage>
        <h2 class="message">Nessun allenamento disponibile per questo Player</h2>
    </ng-template>
    <a [routerLink]="['/players', selectedPlayerId, 'train']" *ngIf="!svincolato">
        <button class="btn add">Nuovo allenamento</button>
    </a>
</section>
<a [routerLink]="['/teams', selectedPlayer.id_team]">
    <button class="btn back">Vai al Team del Player</button>
</a>